<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 删除操作 -->
<mapper namespace="com.sql.dao.mapper.DelectMapper">

  <delete id="delectByID"  parameterType="com.sql.dao.bean.OneTable">
   delete from  ${table} where fd_id ='${fd_id}'
   
  </delete>

</mapper>