<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sql.dao.mapper.FindMapper">

	<!--通果条件查询数据 -->
	<select id="findTList" parameterType="com.sql.dao.bean.Msql"
		resultType="java.util.Map">
		SELECT
		*
		FROM
		${table} AS t1
		INNER JOIN
		${tables} AS t2
		ON
		t1.kind = t2.kind_id
		WHERE
		(
		t2.kind_name = '${where}'
		)
		ORDER BY
		t1.create_time DESC
		LIMIT ${action}, ${count}
	</select>

	<!--单表查询 -->
	<select id="findOlist" parameterType="com.sql.dao.bean.OneTable"
		resultType="java.util.Map">
		SELECT
		${varcher}
		FROM
		${table} AS t1
		<if test="where != null">
			where ${where}
		</if>
		ORDER BY
		t1.create_time DESC
		<if test="count != 0">
			LIMIT ${action}, ${count}
		</if>
	</select>
	<!--查总数 -->
	<select id="getOcount" parameterType="com.sql.dao.bean.OneTable"
		resultType="java.lang.Integer">
		SELECT
		count(fd_id)
		FROM
		${table} AS t1
		<if test="where != null">
			where ${where}
		</if>
	</select>

	<!--单条查询 -->
	<select id="findByOlink" parameterType="com.sql.dao.bean.OneTable"
		resultType="java.util.Map">
		SELECT
		${varcher}
		FROM
		${table} AS t1
		<if test="fd_id != null">
			where fd_id ='${fd_id}'
		</if>
	</select>
	
	<!-- 查询数据库中所有数据表 -->
	<select id="finNameCount" parameterType="java.lang.String"
		resultType="java.util.Map">
		select table_name from information_schema.tables where
		table_schema='${msql}'


	</select>
</mapper>